@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto");
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  font-family: "Roboto";
  background-color: #31445c;
  color: white;
}
.header {
  display: flex;
  grid-template-rows: auto;
  grid-template-columns: auto 15%;
  position: fixed;
  top: 0;
  height: 19%;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #ae3268;
  text-shadow: 0 1px 5px black;
}
#headContainer {
  padding: 0px 0px 0px 1em;
  width: fit-content;
}
#title {
  font-size: 2.5em;
  margin-top: 4%;
  margin-bottom: 0;
}
#tribute-info {
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1.2%;
  padding-left: 30px;
}
nav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.5em;
  background-color: #ae3268;
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 250px;
  opacity: 0;
  transition: all 150ms;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 1px 5px black;
  z-index: 1;
  border-radius: 0 0 3% 3%;
}
nav > span {
  display: grid;
  place-items: center;
  height: auto;
  width: auto;
}
@media (max-width: 740px) {
  .header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 22.2%;
    width: 100%;
  }
  #headContainer {
    width: 100%;
  }
  nav {
    grid-template-columns: auto;
    width: 20vw;
    height: 100%;
    padding: 0;
    opacity: 1;
  }
  nav > span {
    font-size: 0.7em;
  }

  .contentbox {
    overflow: auto;
  }
  main #img-div {
    margin-top: 7%;
  }
}

nav:hover {
  opacity: 1;
}
.tabs {
  color: white;
  width: 100%;
}
a {
  text-decoration: none;
}
.tabs.prjs {
  font-size: 0.8em;
}
#main {
  display: inline;
  margin: 0 auto;
}
main::after {
  content: "";
  display: table;
  clear: both;
}
#img-div {
  margin: 5% auto 0;
  padding-top: 150px;
  width: 60%;
  max-width: 600px;
  text-align: center;
}
#image {
  display: block;
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 90%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 2.5%;
  box-shadow: 0px 1px 3px 2px #0c1117;
  z-index: 1;
}
#image:hover {
  box-shadow: 0px 1px 4px 4px #3b9b6f;
  border: 2px solid #3b9b6f;
}
#img-caption {
  margin-top: 0;
  position: relative;
  z-index: 1;
  text-shadow: 0 1px 5px black;
}
.divider {
  flex-basis: 100%;
  border: 2px solid #087975;
  margin: 0 auto;
  width: 100%;
  height: 25vh;
  max-height: 400px;
  background-color: #087975;
  opacity: 0.2;
  position: relative;
  z-index: 0;
  margin-top: -10%;
}
.contentbox {
  position: relative;
  flex-basis: 100%;
  margin: 0 auto 3%;
  background-color: #ae3268;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  height: 56vh;
  max-height: 450px;
  text-align: center;
  background-size: cover;
  z-index: 1;
}
.collages {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  border-radius: 10px;
  pointer-events: none;
}
.banner {
  display: flex;
  background-color: #087975;
  height: 15%;
  max-height: 150px;
  border-radius: 10px 10px 0 0;
  justify-content: center;
}
.banner > h2 {
  text-shadow: 0 1px 5px black;
}
.contentbox p {
  line-height: 1.5;
  margin: 2%;
  text-shadow: 0 1px 5px black;
}
#summary {
  font-size: auto;
}
a {
  text-decoration: none;
  color: white;
}

.logos {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 10%;
  object-fit: cover;
  box-shadow: 0px 0px 4px 2px #260212;
  z-index: 2;
}
#twitch {
  box-shadow: none;
}
#links {
  z-index: 1;
  background-color: #e5564d;
}
#prjs {
  background-color: #7ca6a4;
}
#prjsdiv {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  height: 80%;
}
#feedjerma {
  width: 80%;
  height: 100%;
  object-fit: scale-down;
}
#jermapong {
  width: 80%;
  height: 100%;
  object-fit: scale-down;
}
